.avatarContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}


.avatarText {
    font-weight: 700;
    margin-right: 10px;
}

.avatarImage {
    height: 40px;
    border-radius: 50%;
}




